<%= form_for @photo do |f| %>

<p>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </p>
 
  <p>
    <%= f.label :caption %><br>
    <%= f.text_area :caption %>
  </p>
 
 <p>
    <%= f.label :public %><br>
    <%= f.text_area :public %>
  </p>
 

  <p>
    <%= f.submit %>
  </p>
 
<% end %>