<h1> Look at all your photos </h1>
<%= link_to "New photo", user_photos_path(current_user) %>

<% @photos.each do |photo| %>

	<%= photo.caption %>
	<%= link_to 'Show', user_photo_path(current_user, @photo)  %>

<br/>
<%= link_to 'Edit', edit_user_photo_path(current_user, @photo) %>

<br/> <%= link_to 'Destroy', user_photos_path(current_user, @photo),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end %>

